*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: silver;
}
nav{
    display:flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 16px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.logo li{
    list-style: none;
    margin-inline: 25px;
    font-size: 18px;
}
.searchBar{
    display:flex;
}
.searchBar input{
    width: 220px;
    padding: 5px;
    font-size:18px ;
    border: none;
    border-radius: 3px;
    margin-inline: 5px;
}
.logo li:hover{
    color:rgb(0,140,255);
    border-bottom: 2px solid black;
    cursor: pointer;
}
.searchBar button{
    width: 60px;
    height: 32px;
    background-color: rgb(0, 89, 255);
    color:white;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.searchBar button:active{
    background-color: blue;
}
.cardData{
    display: grid;
    /* justify-content: center; */
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    margin-top: 20px;
}
.card{
    /* width: 300px; */
    background-color: #fff;
    padding: 11px;
    margin-top: 25px;
    margin-left: 12px;
    cursor: pointer;
    transition: 1s;

}
.card:hover{
    margin:2px solid black;
    box-shadow: 1px 1px 1px 3px white;
}
.card img{
    width: 100%;
    height: 45%;
}
.card h2{
    margin-top: 10px;
    padding:3px;
}
.card p{
    margin-top: 10px;
    padding: 2px;

}
.category{
    position: absolute;
    margin-top: 50px;
    color: black;
    margin-left: 110px;
}
@media only screen and (max-width:788px){
    li{
        display:none;
    }
}
@media only screen and (max-width:477.60px){
    nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .logo{
        justify-content: center;
    }
    .serachBar{
       display: flex;
       justify-content: center;
       margin-top: 8px;
    }
    .category{
        margin-top: 160px;
        text-align: center;
    }
}